<p id="notice"><%= notice %></p>

<h1>Program Page for <%= @program.name %></h1>

<p>
  <strong>Created at:</strong>
  <%= @created_at_time %>
</p>
<p><strong>Last updated:</strong>
  <%= @updated_at_time %>
</p>

<p><strong>
  <%= link_to 'Download HTML File', program_download_path %> |  
  <%= link_to 'Show HTML', program_text_path %>
  </strong>
</p>
<p>
<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
</p>

<h1>Sessions for <%= @program.name %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Speakers?</th>
      <th>download link</th>
      <th>show html</th>
      <th>Link?</th>
    </tr>
  </thead>

  <tbody>
    <% @program.sessions.sort_by { |session| [session.link_urls, session.name, session.start_time] }. each do |session| %>
    <% if session.link_urls === "#" || session.link_urls.nil? || session.link_urls.empty? %>
      <tr class="warning">
        <td><%= session.name %></td>
        <td><%= session.speaker_id.split(",").count %></td>
        <td><%= link_to 'Download HTML File', program_session_download_path(session.program_id, session.id) %></td>
        <td><%= link_to 'See HTML', program_session_path(session.program_id, session.id) %>
        </td>
        <td>None</td> 
      </tr>
    <% elsif @program.updated_at === session.updated_at %>
      <tr class="danger">
        <td><%= session.name %></td>
        <td><%= session.speaker_id.split(",").count %></td>
        <td><%= link_to 'Download HTML File', program_session_download_path(session.program_id, session.id) %></td>
        <td><%= link_to 'See HTML', program_session_path(session.program_id, session.id) %>
        </td>
        <td><%= link_to "Update", session.link_urls %></td> 
      </tr>
    <% else %>
        <tr>
        <td><%= session.name %></td>
        <td><%= session.speaker_id.split(",").count %></td>
        <td><%= link_to 'Download HTML File', program_session_download_path(session.program_id, session.id) %></td>
        <td><%= link_to 'See HTML', program_session_path(session.program_id, session.id) %>
        </td>
        <td><%= link_to "Link", session.link_urls %></td> 
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>




