<%= link_to 'Back', programs_path, class: 'btn btn-default btn-sm', role: "button" %>
<% if @program.user_id != current_user.id %>
  <h1>Whoops! This program does not belong to you.</h1>
<% else %>
<div class="page-header">
  <h1><%= @program.name %></h1>
</div>
<div class="panel panel-default">
  <div class="panel-heading"><h3 class="panel-title"><%= @program.name %> Info</h3></div>
  <div class="panel-body">
    <p>
      <strong>Created at:</strong>
      <%= @created_at_time %><br />
       <strong>Last updated:</strong>
      <%= @updated_at_time %>
    </p>

    <p>
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <%= link_to 'Download HTML File', program_download_path, class: "btn btn-default", role: "button" %> 
        <%= link_to 'Show HTML', program_text_path, class: "btn btn-default", role: "button" %>
      </div>
    </p>
  </div>
</div>
<div class="page-header">
  <h1>Sessions for <%= @program.name %> &nbsp; &nbsp; <small><%= link_to 'Upload New Sessions', edit_program_path(@program), class: 'btn btn-success btn-sm' %></small></h1>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Key</th>
    </tr>
  </thead>
  <tbody>
    <tr class="danger">
      <td>Session has been deleted.</td>
    </tr>
    <tr class="info">
      <td>Session has been updated since last import. Update information on linked page.</td>
    </tr>
    <tr class="warning">
      <td>Session does not have a detail page linked.</td>
    </tr>
     <tr>
      <td>Session has not been updated, deleted, and has a detail page in place.</td>
    </tr>

  </tbody>
</table>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Download HTML</th>
      <th>Show HTML</th>
      <th>Link</th>
    </tr>
  </thead>

  <tbody>
    <% @program.sessions.sort_by { |session| [session.link_urls, session.start_time, session.name] }. each do |session| %>
    <% if session.deleted == true %>
       <tr class="danger">
        <td><%= session.name %></td>
        <td><%= link_to 'Download', program_session_download_path(session.program_id, session.id) %></td>
        <td><%= link_to 'View', program_session_path(session.program_id, session.id) %>
        </td>
        <td><%= link_to "DELETED", session.link_urls %></td> 
      </tr>
    <% elsif ( @program.did_speakers_update(session.session_id) && @program.did_session_update(session.session_id) ) %>
      <tr class="info">
        <td><%= session.name %></td>
        <td><%= link_to 'Download', program_session_download_path(session.program_id, session.id) %></td>
        <td><%= link_to 'View', program_session_path(session.program_id, session.id) %>
        </td>
        <td><%= link_to 'Speaker & Session Updated', session.link_urls %></td>
      </tr>
  <% elsif @program.did_speakers_update(session.session_id) %>
      <tr class="info">
        <td><%= session.name %></td>
        <td><%= link_to 'Download', program_session_download_path(session.program_id, session.id) %></td>
        <td><%= link_to 'View', program_session_path(session.program_id, session.id) %>
        </td>
        <td><%= link_to 'Speaker Updated', session.link_urls %></td>
      </tr>
  <% elsif @program.did_session_update(session.session_id) %>
      <tr class="info">
        <td><%= session.name %></td>
        <td><%= link_to 'Download', program_session_download_path(session.program_id, session.id) %></td>
        <td><%= link_to 'View', program_session_path(session.program_id, session.id) %>
        </td>
        <td><%= link_to 'Session Updated', session.link_urls %></td>
      </tr>
    <% elsif session.link_urls === "#" || session.link_urls.nil? || session.link_urls.empty? %>
      <tr class="warning">
        <td><%= session.name %></td>
        <td><%= link_to 'Download', program_session_download_path(session.program_id, session.id) %></td>
        <td><%= link_to 'View', program_session_path(session.program_id, session.id) %>
        </td>
        <td>None</td> 
      </tr>

    <% else %>
        <tr>
        <td><%= session.name %></td>
        <td><%= link_to 'Download', program_session_download_path(session.program_id, session.id) %></td>
        <td><%= link_to 'View', program_session_path(session.program_id, session.id) %>
        </td>
        <td><%= link_to "Link", session.link_urls %></td> 
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<% end %>




